# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROOT specific files
*.d
*.pcm

# Storage files
*.gam

#emacs and gedit
*~

#clangd file
compile_commands.json

# Generated folders and files 
geometry/neuland_v*.root
geometry/*.geo.root
build*/
input/

macros/

.cache
.idea/
.vscode/
build-r3broot.sh
cmake-build-debug/

sofia/

glad-tpc/

frs/
