language: cpp
os: linux
compiler: gcc
dist: trusty
sudo: required

before_install:
    - sudo apt-get update -q;
    - sudo apt-get install -y cmake cmake-data g++ gcc gfortran build-essential make patch sed
                            libx11-dev libxft-dev libxext-dev libxpm-dev libxmu-dev libglu1-mesa-dev libgl1-mesa-dev
                            ncurses-dev libcurl4-openssl-dev curl bzip2 gzip unzip tar subversion git xutils-dev flex
                            bison lsb-release python-dev libc6-dev-i386 libxml2-dev wget libssl-dev
                            automake autoconf libtool;
    - wget https://www.r3broot.gsi.de/system/files/R3BRootBase_1.0.deb;
    - sudo dpkg -i R3BRootBase_1.0.deb;

install:

before_script:
    - $CXX --version
    - cmake --version
    - echo "export LINUX_FLAVOUR=Ubuntu14.04" > Dart.cfg;
    - echo "export EXTRA_FLAGS=\"-DCMAKE_CXX_COMPILER=g++;-DCMAKE_C_COMPILER=gcc\" " >> Dart.cfg;
    - source /opt/R3BRootBase/versions.sh;
    - echo "export FAIRSOFT_VERSION=${FAIRSOFT_VERSION}" >> Dart.cfg;
    - echo "export FAIRROOT_VERSION=${FAIRROOT_VERSION}" >> Dart.cfg;
    - echo "export GIT_BRANCH=${TRAVIS_COMMIT}" >> Dart.cfg;
    - echo "export SIMPATH=/opt/R3BRootBase/build_FairSoft" >> Dart.cfg;
    - echo "export FAIRROOTPATH=/opt/R3BRootBase/install_FairRoot" >> Dart.cfg;
    - echo "export UCESB_DIR=/opt/R3BRootBase/ucesb" >> Dart.cfg;
    - echo "export BUILDDIR=/tmp/r3broot/build_r3broot" >> Dart.cfg;
    - echo "export SOURCEDIR=$PWD" >> Dart.cfg;
    - echo "export SITE=\"Travis CI - ${TRAVIS_PULL_REQUEST}\"" >> Dart.cfg;
    - echo $PWD
    - cat Dart.cfg
    - git clone https://github.com/R3BRootGroup/macros.git
    - cd macros
    - git checkout dev
    - cd ..

script:
    - ./Dart.sh Experimental Dart.cfg

notifications:
    email:
        recipients:
            - D.Kresan@gsi.de
            - Va.Wagner@gsi.de
        on_success: always
        on_failure: always
